meta(name="auth", content=author)
link(rel="stylesheet", href="styles.css")
title #{title} #{page}
meta(name="description", content=metadescripcion)
meta(name="keywords", content=keywords)
//- Cambia el color de la barra de direcciones en mobile
meta(name="theme-color", content=colorTheme)
link(rel="icon", href="media/"+favIcon, type="image/png")