header.header
    picture
        source.header__img(media="(max-width: 480px)", srcset="media/"+bannerHeader.img+"-small"+bannerHeader.extention, alt=bannerHeader.alt)
        source.header__img(media="(max-width: 768px)", srcset="media/"+bannerHeader.img+"-medium"+bannerHeader.extention, alt=bannerHeader.alt)
        img.header__img(srcset="media/"+bannerHeader.img+"-long"+bannerHeader.extention, alt=bannerHeader.alt)
    picture
        img.header__logo(src="media/"+logo.img+logo.extention, alt=logo.alt)
        source.header__logo(media="(max-width: 480px)", srcset="media/"+logo.img+"-small"+logo.extention, alt=logo.alt)
        source.header__logo(media="(max-width: 768px)", srcset="media/"+logo.img+"-medium"+logo.extention, alt=logo.alt)