mixin platos(plato,category)
    .dishes__plate
        a(href=plato.link).dishes__link
            picture.dishes__picture
                img.dishes__img(alt=plato.text,srcset="./media/"+category+"/thumbnail/"+plato.img.picture+"-thumbnail"+plato.img.extention,loading="lazy")
        .dishes__name
            span.dishes__text #{plato.text}
            if(plato.price_uno)
                span.dishes__price Bs #{plato.price_uno}
            if(plato.price_dos)
                span.dishes__price  - #{plato.price_dos}
            if(plato.price_tres)
                span.dishes__price  - #{plato.price_tres}