include sponsor
mixin plato(img,title,price,pricetwo,ingredients,sponsor,category)
    .plate
        .plate__img
            .plate__logo
                img(src="media/"+logo.img+logo.extention, alt=logo.alt)
            picture.plate__cont__picture
                img.plate__picture(srcset="media/"+category+"/"+img.picture+img.extention, alt=title)
        .plate__body
            h2.plate__title !{title}
            p.plate__price Bs&nbsp;!{price}
            if(pricetwo != "")
                p.plate__price Bs&nbsp;!{pricetwo}
            p.plate__text !{ingredients}
        +sponsor(sponsor)